@media only screen {
  .logofont {
    font-size: 1.0rem;
    text-align: center;
    background: -webkit-linear-gradient(to right, #ffb76b 3%, #ffb76b 3%, #ff7c00 32%, #ff7f04 73%, #ffb76b 95%);
    background: linear-gradient(to right, #ffb76b 3%, #ffb76b 3%, #ff7c00 32%, #ff7f04 73%, #ffb76b 95%);
    background-size: 3200px 200px;
    margin-top: 20vh;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: animate-logo;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    transition: font-size 500ms ease-in-out;
  }
}
@media only screen and (min-width: 40.063em) {
  .logofont {
    margin-top: 30vh;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64.063em) {
  .logofont {
    margin-top: 25vh;
    font-size: 2.0rem;
  }
}
@media only screen and (min-width: 90.063em) {
  .logofont {
    margin-top: 20vh;
    font-size: 3.0rem;
  }
}
@media only screen and (min-width: 120.063em) {
  .logofont {
    margin-top: 15vh;
    font-size: 4.0rem;
  }
}
@-webkit-keyframes animate-logo {
  0% {
    background-position: 0 3200px;
  }
  100% {
    background-position: 3200px 0;
  }
}
