@import url('https://fonts.googleapis.com/css?family=Orbitron');

.genderpics{
  width: 99%;
  margin-top: 20px;

}
.genderpics2{
  width: 99%;
  margin-top: 20px;

}

.title{
    font-family: 'Orbitron', sans-serif;
}
