@import url('https://fonts.googleapis.com/css?family=Orbitron');

select {
    width: 100%;
    padding: 16px 20px;
    overflow-y: auto;
    border: none;
    border-radius: 2px;
    background-color: grey;
    font-family: 'Orbitron', sans-serif;
    scrollbar-face-color: #b46868;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #9b8e37;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.Liststyle{
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
}
